* {
    padding: 0px;
    margin: 0px;
}

div div

div{
    width: 200;
    height: 150;
    display: block;
}

#Barra_superior :hover{
    display: inline;
    position: absolute;

}

#Titulo_1 {
    color: #a0faa0;  
}

#Aviso_1{
    Color: Red;
}

.Titulo_1 {
    font-size: 2em;
    font-family: 'Lobster', cursive;
    font-weight: normal; 
    display: inline;
}

#Titulo_1{
    position: absolute;
    display: inline;
    bottom: 910px;
}

#Personaje{
    display: inline;
    background-color: red;
    position: absolute;
    top: 17px;
    left: 540px;
}

#Ciudad{
    display: inline;
    position: absolute;
    background-color: red;
    bottom: 935px;
    left: 400px;

    
}

#Recurso{
    display: inline-block;  
    background-color: red; 
    position: absolute;
    bottom: 935px;
    left: 470px;
}



