* {
    padding: 0px;
    border: 0px;
}
div div

div{
    width: 200;
    height: 150;
    display: block;
}

.Amber_1{
    display: inline-block;
}

.Amber_1{
    background: none;
}

.Muñeco{
    background: none;
}

.Muñeco{
    display: inline;
    position: absolute;
    left: 81%;
    top: 56%;
}

