* {
    padding: 0px;
    border: 0px;
}

.contenedor{
    width: 100%;
    max-width: 10000px;
    height: 5%;
    height: 50px;
    margin: 0 auto;
}

.contenedor a h1{
    position: absolute;
    bottom: 10px;
    left: 50px;
    padding: 0;
}

.header{
    background: rgb(53, 46, 46);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 2rem 0;
}

.logo-nav-contenedor{
    display: flex;
    align-items: center;
}

.Navegadores ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.Navegadores ul li{
    display: inline-block;
}

.Navegadores ul li a{
    position: relative;
    left: 450px;
    display: inline-block;
    padding: 1rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.Navegadores ul li a:hover{
    background: #a0e1ff;
}

.Titulo_1 {
    font-size: 2em;
    font-family: 'Lobster', cursive;
    font-weight: normal; 
    color: #a0faa0;
}

.Titulo_1{
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    border: 0;
}
 
body{
    background: black;

}

.fondo_2{
    position: absolute;
    top: 250px;
    left: 10%;
    background: white;
    width: 80%;
    height: 200%;   
}

.cabeza_2{
    position: absolute;
    top: 50px;
    left: 10%;
    background: rgba(255, 255, 255, 0.103);
    width: 80%;
    height: 21.3%;
}

.Slider_contenedor{
    position: absolute;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.mislider{
    position: absolute;
    bottom: 5px;
    height: 100%;
    width: 100%;
    vertical-align: top;
    
}

.direcciones{
    width: 85%;
    height: 95%;
    position: absolute;
    bottom: 15%;
    left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 100px;
}

.direcciones a{
    color: rgb(255, 255, 255);
    display: block;
    padding: 0;
    text-decoration: none;
}

.direcciones a:hover{
    background: rgba(0, 0, 0, .5);
    transition: .5s;
}

.barras{
    position: absolute;
    top: 0%;
    left: 7%;
    width: 80%;
    height: 100%;
    display: flex;
    margin-bottom: 15px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.puntos{
    cursor: pointer;
    height: 190px;
    width: 165px;
    margin: 0 2px;
    display: inline-block;
    margin-left: 55px;
    position: relative;
    right: 2.5%; 
}

.puntos:hover{
    background: #ebebebcc;
}

.presentacion{
    position: absolute;
    left: 490px;
    width: 987px;
    height: 384px;
    top: 10px;
    border: 4px solid rgb(83, 82, 81);
    border-left: none;
}

.Caracteristica_d{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif; 
}

.Caracteristica_titulo{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
}

.Nombres{
    display: inline-block;
    cursor: pointer;
    position: relative;
    bottom: 20px;
    left: 21px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
}

.Nombres:hover{
    color: black;
}

.Sacarosa_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.Sacarosa{
    position: absolute;
    bottom: 1476px;
    right: 998px;
    width: 480px;
    height: 384px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none;
}

.Contenido_de_Caracteristicas_de_rareza{
    position: absolute;
    bottom: 24%;
}

.Titulo_de_rareza{
    position: relative;
    top: 15px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Alef', sans-serif;

}

.Skill_Star{
 position: absolute;
 top: 59px;
 right: 32px;
}

.Skill_Star2{
    position: absolute;
    top: 59px;
    right: 22px;
}

.Skill_Star3{
    position: absolute;
    top: 59px;
    right: 12px;
}

.Skill_Star4{
    position: absolute;
    top: 59px;
    right: 2px;
}

.Contenido_de_Caracteristicas_de_Arma{
    position: absolute;
    bottom: 24%;
    left: 85px;
}

.Titulo_de_Arma{
    position: relative;
    top: 60px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Alef', sans-serif;
}

.nombre_del_arma_Saca{
    position: relative;
    top: 40px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Alef', sans-serif;
    color: rgb(63, 63, 63);
}

.Contenido_de_Caracteristicas_de_Elemento{
    position: absolute;
    top: 72%;
    right: 91.8%;
}

.Titulo_de_Elemento{
    position: relative;
    top: 20px;
    left: 65%;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Alef', sans-serif;
}

.Anemo{
    position: absolute;
    top: 82%;
    right: 95%;
    width: 5%;
    
}

.nombre_del_Anemo{
    position: absolute;
    top: 60%;
    left: 65%;
    font-size: 1.2em;
    font-weight: bold;
    color: #89ffba;
    font-family: 'Alef', sans-serif;
}

.Amber_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.Amber{
    position: absolute;
    bottom: 1476px;
    right: 998px;
    width: 480px;
    height: 384px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none;
   
}

.jean.icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}
.jean{
    position: absolute;
    bottom: 1476px;
    right: 998px;
    width: 480px;
    height: 384px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none;
}

.lisa.icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.lisa{
    position: absolute;
    bottom: 1476px;
    right: 998px;
    width: 480px;
    height: 384px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none;
}

.kaeya_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.kaeya{
    position: absolute;
    bottom: 1476px;
    right: 998px;
    width: 480px;
    height: 384px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none;
}

.bárbara_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.barbara{
    position: absolute;
    bottom: 1476px;
    right: 998px;
    width: 480px;
    height: 384px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none;
}

.diluc_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.diluc{
    position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.razor_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.razor{
    position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.venti_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.venti{
    position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.klee_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.klee{
    position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.bennett_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.bennett{
    position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.noelle_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.noelle{
    position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.fischl_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.fischl{
    position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.mona_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.mona{
position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.diona_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.diona{
position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.albedo_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.albedo{
position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.rosaria_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.rosaria{
position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.eula_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.eula{
position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.aloy_icon{
    height: 145px;
    width: 145px;
    background: #282e2ecc;
}

.aloy{
position: absolute;
    bottom: 1516px;
    right: 998px;
    width: 490px;
    height: 344px;
    border: 4px solid rgb(83, 82, 81);
    border-right: none; 
}

.active{
    background: #ebebebcc;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {opacity: 4;}
    to{opacity: 1;}
}

